/DDU-Toys/nbproject/private/
/DDU-Toys/build/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
/DDU-Toys/*.jar
/DDU-Toys/*.war
/DDU-Toys/*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# netbeans
/DDU-Toys/nbproject/private/
/DDU-Toys/build/
/DDU-Toys/nbbuild/

# the dist file could make some problems
# dist/
/DDU-Toys/nbdist/
/DDU-Toys/nbactions.xml
/DDU-Toys/nb-configuration.xml
/DDU-Toys/.nb-gradle/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
/DDU-Toys/log/
/DDU-Toys/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
/DDU-Toys/dist/