<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>test.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBC</servlet-name>
        <servlet-class>test.JDBC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test1</servlet-name>
        <servlet-class>test.Test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>Controllers.indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestBeanCRUD</servlet-name>
        <servlet-class>test.TestBeanCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Controllers.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemDetailServlet</servlet-name>
        <servlet-class>Controllers.itemDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemsServlet</servlet-name>
        <servlet-class>Controllers.itemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userIndexServlet</servlet-name>
        <servlet-class>Controllers.user.userIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>navServlet</servlet-name>
        <servlet-class>Controllers.basicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>Controllers.adminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminIndexServlet</servlet-name>
        <servlet-class>Controllers.admin.adminIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>Controllers.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pendingSalesServlet</servlet-name>
        <servlet-class>Controllers.admin.pendingSalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentsServlet</servlet-name>
        <servlet-class>Controllers.admin.commentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToyServlet</servlet-name>
        <servlet-class>Controllers.admin.addToyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStockServlet</servlet-name>
        <servlet-class>Controllers.admin.addStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salesServlet</servlet-name>
        <servlet-class>Controllers.user.salesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newSaleServlet</servlet-name>
        <servlet-class>Controllers.user.newSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>Controllers.cartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toyStockServlet</servlet-name>
        <servlet-class>Controllers.admin.toyStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondHandCartItem</servlet-name>
        <servlet-class>Bean.SpecificBean.SecondHandCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOutServlet</servlet-name>
        <servlet-class>Controllers.checkOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStockServlet</servlet-name>
        <servlet-class>Controllers.admin.editStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toyEditServlet</servlet-name>
        <servlet-class>Controllers.admin.toyEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>replyCommentServlet</servlet-name>
        <servlet-class>Controllers.admin.replyCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newCommentServlet</servlet-name>
        <servlet-class>Controllers.newCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newToyServlet</servlet-name>
        <servlet-class>Controllers.admin.newToyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pendingSalesUserServlet</servlet-name>
        <servlet-class>Controllers.user.pendingSalesUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPendingSaleServlet</servlet-name>
        <servlet-class>Controllers.admin.ProcessPendingSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>Controllers.admin.adminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBC</servlet-name>
        <url-pattern>/JDBC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test1</servlet-name>
        <url-pattern>/Test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestBeanCRUD</servlet-name>
        <url-pattern>/TestBeanCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemDetailServlet</servlet-name>
        <url-pattern>/itemDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemsServlet</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminIndexServlet</servlet-name>
        <url-pattern>/admin/index</url-pattern>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pendingSalesServlet</servlet-name>
        <url-pattern>/admin/pendingSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentsServlet</servlet-name>
        <url-pattern>/admin/comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToyServlet</servlet-name>
        <url-pattern>/admin/addToy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStockServlet</servlet-name>
        <url-pattern>/admin/addStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userIndexServlet</servlet-name>
        <url-pattern>/user/index</url-pattern>
        <url-pattern>/user/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salesServlet</servlet-name>
        <url-pattern>/user/sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newSaleServlet</servlet-name>
        <url-pattern>/user/newSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toyStockServlet</servlet-name>
        <url-pattern>/admin/toyStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondHandCartItem</servlet-name>
        <url-pattern>/SecondHandCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOutServlet</servlet-name>
        <url-pattern>/checkOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStockServlet</servlet-name>
        <url-pattern>/admin/editStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toyEditServlet</servlet-name>
        <url-pattern>/admin/editToy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>replyCommentServlet</servlet-name>
        <url-pattern>/replyComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newCommentServlet</servlet-name>
        <url-pattern>/newComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newToyServlet</servlet-name>
        <url-pattern>/admin/newToy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pendingSalesUserServlet</servlet-name>
        <url-pattern>/user/pendingSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPendingSaleServlet</servlet-name>
        <url-pattern>/admin/ProcessPendingSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
